* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', Courier, monospace;
}

/*desktop*/
/*header*/
header {
    height: 4rem;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    display: flex;
    align-items: center;
    height: 2rem;
    margin-left: 1.5rem;
}
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin-right: 1.5rem;
}
.menu li {
    margin: 0.5rem;
}
.menu li a {
    text-decoration: none;
}

/*hero section*/
.hero {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: rgb(200, 200, 200);
}
.hero_img {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: auto;
    margin-right: 0.75rem;
    margin-left: 1.5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.hero_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 40%;
    text-align: left;
    margin-right: 0;
    margin-left: 0.75rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.hero_info h2 {
    margin-bottom: 1.5rem;
}
.hero_btn {
    display: inline-block;
    padding: 1rem;
    margin-top: 1.5rem;
    text-decoration: none;
    background-color: rgb(40, 56, 40);
    color: white;
    width: 50%;
}
.hero_info a {
    text-align: center;
}

.hero_info a:hover {
    background-color: gray;
}

/*information section*/
.information {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 1.5rem;
}
.info_col1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 60%;
    margin-left: 1.5rem;
    margin-top: 2rem;
    margin-bottom: 0;
}
.info_col1_img {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    margin: 0;
}
.info_col1_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 100%;
}
.info_col1_text p{
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}
.info_col1_text h5{
    margin-bottom: 2rem;
}
.info_col2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40%;
    margin-top: 2rem;
    margin-bottom: 0;
}
.info_col2 :hover{
    background-color: rgb(200, 200, 200);
}
.info_col2-box {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin: 0;
}
.info_col2_img {
    display: flex;
    flex-direction: column;
    width: 35%;
    height: auto;
    margin: 1rem;
}
.info_col2-text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
    text-align: left;
    margin: 1rem 0;
    padding-right: 1rem;
}
.info_col2-text a{
    text-decoration: none;
    color: blue;
}

/*course section*/
.course {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    background: rgb(200, 200, 200);
}
.course_row1 {
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 1.5rem;
    font-weight: bold;
}
.course_row2 {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-left: 4.5rem;
    margin-right: 2.5rem;
    margin-bottom: 2rem;
}
.course_row2-box {
    background-color: rgb(255, 255, 255);
    width: 30%;
    margin-bottom: 2rem;
    margin-right: 2rem;
}
.course_row2-box :hover{
    opacity: 0.5;
   
    color: rgb(49, 7, 7);
    font-weight: bolder;
    margin-left: 0.5rem;
    font-size: large;
      
}
.course_row2-box img {
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
}
.course_row2-box h2 {
    padding-left: 1rem;
    padding-bottom: 0.5rem;
}
.course_row2-box p {
    padding-left: 1rem;
    padding-bottom: 1.5rem;
}

/*thesis section*/
.thesis_container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 1.5rem;
}
.thesis_title {
    text-align: center;
    margin-top: 2rem;
    font-weight: bold;
} 
.thesis_col1{
    display: flex;
    flex-direction: column;
    width: 60%;
    height: auto;
    margin-right: 0.75rem;
    margin-left: 1.5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.thesis_col1_text h3 {
    margin-bottom: 0.5rem;
    margin-top: 1.5rem;
}
.thesis_col2{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;  
    width: 40%;
    text-align: left;
    margin-right: 0;
    margin-left: 0.75rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.thesis_col2_box{
    display: flex;
    flex-direction: row;   
}
.thesis_col2_box:hover { 
    background-color: rgb(200, 200, 200);
}
.thesis_col2_box img {  
    width: 35%;
    height: auto;
    margin: 1rem;
}
.thesis_col2_box_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
    text-align: left;
    margin: 1rem 0;
    padding-right: 1rem;
}
.thesis_col2_box_text h1{
    margin-bottom: 1.5rem;
}




/*mobile*/
.mobile_header {
    height: 4rem;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mobile_menu {
    display: flex;
    justify-content: space-around;
    list-style: none;
    width: 100%
}

/*information section*/

.mobile_info_col {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
    margin-bottom: 0;
}
.mobile_info_col_img {
    display: flex;
    align-items: center;
    justify-content: center; 
}
.mobile_info_col_img img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.mobile_info_col-text {
    display: flex;
    flex-direction: column;
    margin: 4rem 1rem;
}
.mobile_info_col-text a{
    text-decoration: none;
    color: blue;
}
.mobile_info_col :hover{
    background-color: rgb(200, 200, 200); 
    font-weight: bolder;
    margin-left: 0.5rem;
    font-size: large;
}

.mobile_info_col-text p{
    margin-top: 1.5rem;
}

/*course section*/
.mobile_course {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 100%
}
.mobile_course_title{
    margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
}
.mobile_course_box{
    width: 90%;
}
.mobile_course_list li{
    margin: 1rem;
    list-style: none;
    text-decoration: none;
}
.mobile_course_list li a{
    text-decoration: none;
    color: black;
}
.mobile_course_list li h4{
    background-color: rgb(200, 200, 200);
    padding-left: 1rem;
    padding-top: 1rem;
    padding-bottom: 1.5rem;   
}
.mobile_course_list li :hover{
    background-color:rgb(128, 139, 168);
    font-weight: bolder;
    margin-left: 0.5rem;
    font-size: large;
}

/*thesis section*/
.mobile_thesis_title {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-weight: bold;
} 
.mobile_thesis video{
    width: 100%;
  height: auto;
  margin-bottom: 1.5rem;
}






/*media query*/
@media only screen and (max-width: 768px) {

    header,
    .logo,
    .menu,
    .information,
    .course,
    .thesis {
        display: none;
    }

    /*hero section*/
    .hero {
        flex-direction: column;
    }
    .hero_img {
        width: auto;
        height: auto;
        margin: 0;
    }
    .hero_info {
        width: auto;
        margin: 2rem 1rem;
    }
    .hero_info h2 {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    .hero_btn {
        margin-bottom: 2rem;
        width: 90%;
        align-self: center;
    }
}






@media only screen and (min-width: 768px) {

    .mobile_header,
    .mobile_menu,
    .mobile_info_col,
    .mobile_course,
    .mobile_thesis
     {
        display: none;
    }
}